@import './bootstrap';
@import './slick-slider';
@import './loader';
@import './grid';
@import './dropdown';
@import './form';

.font-weight-semibold {
	font-weight: 500;
}

// Buttons
.btn {
	&:hover {
		box-shadow: none;
	}

	&:focus {
		box-shadow: none;
	}
}
